<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="mystudent" class="day02.Demo07.Student">
        <property name="name" value="#{person.pname}"/>
        <!--<property name="age" value="#{person.page > 25 ? 25 : person.page}"/>-->
        <property name="age" value="#{person.computeAge()}"/>
    </bean>

    <bean id="person" class="day02.Demo07.Person">
        <property name="pname" value="李四"/>
        <property name="page" value="#{T(java.lang.Math).random()*50}"/>
    </bean>
</beans>