<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="someService1" class="day01.Demo05.SomeServiceImpl" ></bean>
    <bean id="someService2" class="day01.Demo05.SomeServiceImpl" ></bean>

    <!--Bean后处理器-->
    <bean class="day01.Demo05.MyPostProcess"/>
</beans>