<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="mystudent" class="day01.Demo08.Student">
        <property name="name" value="z3"></property>
        <property name="age" value="3"></property>
        <property name="school" ref="myschool"/>
    </bean>
    <bean id="myschool" class="day01.Demo08.School">
        <property name="name" value="平安"/>
    </bean>
</beans>